
*{
  outline: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/*custom scrollbar*/
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover{
  background: #555 
}

body::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
  -webkit-backdrop-filter: saturate(3);
  backdrop-filter: saturate(3);
}


body {
  font-family: 'Bitter', serif;
  background-image: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  margin: 0;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
  }
}

main {
  background-color: rgb(255 255 255/ 31%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1250px;
  width: 100%;
  border-radius: 5px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-weight: 500;
  padding: 1rem 1rem 2rem 1rem;
  overflow: auto;
  
}

main::-webkit-scrollbar{
  display: none;
}




.heroSection{
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; 
}

.projects {
  flex: 1;
  max-width: 100%;
}

.profileImage{
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.herosectionDetails{
  text-align: center;
}

.herosectionDetails > h1{
  font-size: 50px;
  margin: 10px;
}

.sandc{
  margin: 1rem;
  text-align: center;
}

.skillsGrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skill img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.skillDetails {
  display: flex;
  flex-direction: column;
}

.skillName {
  font-size: 18px;
}

.rateBar {
  width: 200px;
  height: 20px;
  background-color: #2b2b2b;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.fill {
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(90deg, #d5a3ec, #cf51d8);
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px rgba(207, 81, 216, 0.8);
  display: flex;
  justify-content: flex-end;
  animation: fillAnimation 2s ease-in-out forwards;
}

@keyframes fillAnimation {
  0% {
    width: 0;
  }
}

.percentage {
  padding: 5px;
  background-color: rgba(207, 81, 216, 0.8);
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.glowAnimation {
  animation: glowing 2s ease-in-out infinite;
}

@keyframes glowing {
  0%, 100% {
    box-shadow: 0 0 5px rgba(207, 81, 216, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(207, 81, 216, 0.8);
  }
}


.skillsGrid img {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background-color: rgb(255 255 255 / 31%);
  padding: 10px;
}

.skillsGrid img:hover {
  transition: ease-in 300ms;
  transform: scale(0.85);
  cursor: pointer;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .skillsGrid {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .skillsGrid img {
    margin: 10px 5px;
  }
}

@media only screen and (max-width: 480px) {
  .skillsGrid {
    justify-content: center;
  }
}


.skillsAndProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and(max-width: 720px){
  .skillsAndProjects{
    grid-template-columns: [one] 100%;
    grid-template-rows: [one] [two];
  }
}

.skillsAndProjects > .skills, .skillsAndProjects > .projects{
  min-width: 250px;
  margin: 1rem;
  min-height: 250px;
}

.skillsAndProjects > .skills, .skillsAndProjects > .projects{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgb(255 255 255 / 31%);
  border: 1px solid rgb(255 255 255 / 31%);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.cardHeading{
  display: block;
  width: 90%;
  margin: 0;
  margin-bottom: 1rem;
}

.skillsAndProjects > .skills > img{
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.skillsAndProjects > .skills > img:hover{
  transition: ease-in 300ms;
  transform: scale(0.85);
  cursor: pointer;
}
/* ... Previous CSS code ... */

.sandc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  background-color: rgb(255 255 255 / 31%);
  border: 1px solid rgb(255 255 255 / 31%);
  border-radius: 5px;
  padding: 1rem;
  margin: auto;
  animation: fadeInUp 1s ease;
}

.projectContainer img {
  width: auto;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background-color: rgb(255 255 255 / 31%);
  padding: 10px;
}

.projectDescription {
  flex: 1;
}

.projectDescription h4 {
  margin: 0;
  font-weight: 500;
}

.projectDescription p {
  margin: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


 /* contact form start */
 .contactForm {
  margin: 2rem;
  width: calc(100% - 4rem);
  background-color: rgb(255 255 255/ 31%);
  border: 1px solid rgb(255 255 255/ 31%);
  border-radius: 5px;
  padding: 1rem;
}

.contactForm h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.formGroup textarea {
  resize: vertical;
}

.submitButton {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 15px;
  background-color: rgb(101, 186, 158);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: rgb(32, 119, 90);
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contactForm {
  animation: fadeIn 0.5s ease;
}

/* contact form end  */


@media only screen and (max-width: 460px){
  .profileImage{
    width: 250px;
    height: 250px;
  }
  
  .herosectionDetails > h1{
    font-size: 30px;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }

  .herosectionDetails > h1{
    font-size: 20px;
    margin: 0;
    font-weight: 400;
  }
}

/* header */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}
body{
    background-color: #dee1e2;
    min-height: 100vh;
    overflow-x:hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 40px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}
.logo{
    color:#333;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.group{
   display: flex;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    gap:30px;
}
header ul li{
   list-style: none;
}
header ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: .2em;
}
header ul li a:before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transform-origin: right;
}
header ul li a:hover::before{
    transform: scaleX(1);
    -webkit-transform:scaleX(1);
    -moz-transform:scaleX(1);
    -ms-transform:scaleX(1);
    -o-transform:scaleX(1);
    transform-origin:left ;
}
header .search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
}
.searchBox{
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.searchBox.active{
    right: 0;
}
.searchBox input{
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    color: #333;
    font-size: 1.25em;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#searchBtn{
    position: relative;
    left: 30px;
    top: 2.5px;
    color: rgb(101, 186, 158);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
#searchBtn.active{
    left: 0;
}
#closeBtn{
    opacity: 0;
    visibility: hidden;
    color: rgb(101, 186, 158);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    scale: 0;
}
#closeBtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    scale: 1;
}
.menuToggle{
    position: relative;
    display: none;
}

/* media queries */

@media (max-width: 800px){
    #searchBtn{
        left:0;
    }
    .menuToggle{
        display: block;
        font-size: 1em;
        cursor: pointer;
        transform: translateX(30px);
        -webkit-transform: translateX(30px);
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
        z-index: 10;
        color: rgb(32, 119, 90);
}
    
    header .navigation{
        position:absolute;
        opacity: 0;
        visibility: hidden;
        left: 100%;
    }
    header.open .navigation {
      top: 80px;
      opacity: 1;
      font-size: 8px;
      visibility: visible;
      left: 0;
      display: flex;
      flex-direction: column;
      background: rgb(56, 117, 96);
      width: 100%;
      padding: 40px;
      text-align: left;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      transition: 1s;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
    }
    
    /* Optional: Adjust the style of navigation links in the open menu */
    header.open .navigation li a {
      font-size: clamp(12px, 3em, 3em);
      color: #ffffff;
    }
    .hide{
        display: none;
    }
}

/* loading gif start */

/* .loading-gif {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* loading gif end */

/* about me */
/* In your style.css file, update the CSS for the "About Me" section */

.aboutme {
  background-color: #f4f4f4;
  padding: 60px 0;
}

.aboutmeContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.aboutmeImage {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.aboutmeImage img {
  border-radius: 50%;
  max-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.aboutmeImage img:hover {
  transform: scale(1.1);
}

.aboutmeDetails {
  flex: 2;
  padding: 20px;
}

.aboutmeDetails h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  animation: fadeInUp 1s ease;
}

.aboutmeDetails p {
  line-height: 1.8;
  color: #555;
}

/* Keyframe animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
